.bio-img {
  width: 300px;
  height: 300px;
  clip-path: polygon(50% -10%, 100% 25%, 100% 75%, 50% 110%, 0% 75%, 0% 25%);
}

img.center {
  display: block;
  margin: 0 auto;
}

.bio {
  background-color: #23232e;
  font-size: 20px;
  border-radius: 20px;
  color: #b6b6b6;
}
