.bio-img {
  width: 300px;
  height: 300px;
  float: Right;
  margin: 40px;
  clip-path: circle(50% at 50% 50%);
}

// .bio-img.center {
//   display: block;
//   margin: 0 auto;
// }

.bio {
  font-size: 21px;
  color: #3c0d47;
  margin: 20px;
  height: 45vh;
}
