@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$main-purp: #3c0d47;
$main-text-color: white;
$main-text-font: 'Roboto Slab',
serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(236, 234, 234), rgb(146, 146, 146));
    font-family: $main-text-font;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: #653e66e7;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient($main-purp, #4a2653);
    border-radius: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


#sz-bio {
    display: inline-block;
}

#sz-tech {
    display: inline-block;
    width: 100%;
}

.navbarBackground {
    background: linear-gradient($main-purp, #4a2653);
}

.navbarBackground a {
    color: $main-text-color;
    font-family: $main-text-font;
    font-size: 16px;
    font-weight: 300;
}

.navbarBackground a:hover {
    background: #330b3b;
    box-shadow: 0 0 0px 10px #330b3b;
}

.logoBorder {
    border: white solid 2px;
    padding: 1px 4px 1px 4px;
}

.homeBackgroundImage {
    background-image: linear-gradient(to right bottom,
            #37114dd2,
            #a781a8c4),
        url(https://i.imgur.com/ul8W237.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
}

#sz-homepage {
    position: relative;
}

.text-box-main {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.text-box-sub {
    position: absolute;
    top: 63%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.heading-sub {
    color: white;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.heading-primary-main {
    display: inline;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 25px;
}

.heading-primary-sub {
    display: block;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 15px;
}

.contactFooter {
    border: solid $main-purp 5px;
    background-color: $main-purp;
    color: $main-text-color;
    padding: 10px;
    height: 15vh;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
