@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Dosis:700&display=swap');

.solidBackgrounHeader {
    background-color: rgb(173, 173, 255);
    width: 25%;
    margin: 0, 0, 0, 50%;
    height: 100vh;
}

.square {
    width: 100px;
    height: 100px;
    background: red;
}
