@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Dosis:700&display=swap');

//variables
$fontSize: 16px;
$fontFamily: 'Dosis',
sans-serif;
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;

html {
    font-size: $fontSize;
    font-family: $fontFamily;
}

body {
    color: black;
    background-color: rgb(224, 218, 218);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: $bg-primary;
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $text-primary;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms ease;
}


.link-text {
    display: none;
    margin-left: 2rem;
    font-size: 20px;
}

.navbar:hover {
    width: 12rem;
}




.nav-item:hover {
    background-color: $bg-secondary;

    .nav-link {
        filter: grayscale(0%) opacity(1);
        color: rgb(119, 184, 21);
    }

    .link-text {
        color: $text-secondary;
    }
}



.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}




.navbar:hover .link-text {
    display: inline;

}


main {
    margin-left: 5rem;
    padding: 1rem;
}
