/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

.skillDiv {
  text-align: center;
  font-size: 1.75rem;
  color: #3c0d47;
  margin: 40px;
  padding: 50px;
  height: 20vh;
  border-radius: 10px;
  //border: dashed 2px #2c262e;
  
}

